@media screen and (min-width: 540px) {
  #reference-pictures {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #reference-picture-1 img {
    height: 800px;
    max-width: 100%;
  }
  #reference-picture-2 img {
    height: 800px;
    max-width: 100%;
  }
  #reference-picture-3 img {
    height: 800px;
    max-width: 100%;
  }
  #about-me {
    text-align: center;
    padding-right: 10vw;
    padding-left: 10vw;
    padding-bottom: 2vw;
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 540px) {
  #reference-pictures {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #reference-picture-1 img {
    height: 350px;
    max-width: 100%;
  }
  #reference-picture-2 img {
    height: 350px;
    max-width: 100%;
  }
  #reference-picture-3 img {
    height: 350px;
    max-width: 100%;
  }
  #about-me {
    text-align: center;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-bottom: 2vw;
    font-size: 1.5vh;
  }
}
