html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/*Beginning of flex*/
.header {
  display: flex;
  font-size: larger;
}

.header div:nth-of-type(2) {
  flex-grow: 1;
}
/*End of flex*/

.main-title {
  text-align: center;
}

.nav-container {
  text-align: center;
}

.nav-container ul {
  margin: 0;
  padding: 0;
}

.nav-container ul li {
  font-weight: bold;
  list-style-type: none;
  text-align: left;
  padding-bottom: 0.5vw;
}

button {
  border-radius: 5px;
  width: 100%;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
