@media screen and (min-width: 850px) {
  body {
    font-size: 2.5vh;
  }
  h2 {
    text-align: center;
  }
  #note-from-artist {
    text-align: left;
  }
  #inspiration-container {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    margin-right: 15vw;
    margin-bottom: 10vh;
    padding-bottom: 10vh;
  }
  #note-from-artist {
    font-size: 2vh;
  }
  #introduction-paragraph {
    font-size: 2vh;
  }
  #witcher-origins-title-2 {
    padding-top: 2vh;
  }
  #picture {
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    padding-right: 1vw;
    width: 10vw;
  }
  #author-witcher {
    max-width: 100%;
    height: auto;
    border: double white 5px;
    margin-right: 1vw;
  }
  footer a {
    color: white;
    cursor: pointer;
    text-decoration: underline;
  }
}
@media screen and (max-width: 850px) {
  body {
    font-size: 2.5vh;
  }
  h2 {
    text-align: center;
  }
  #note-from-artist {
    text-align: left;
  }
  #inspiration-container {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    margin-right: 20vw;
    margin-bottom: 10vh;
    padding-bottom: 10vh;
  }
  #note-from-artist {
    font-size: 2vh;
  }
  #introduction-paragraph {
    font-size: 2vh;
  }
  #witcher-origins-title {
    text-align: center;
  }
  #picture {
    padding-bottom: 2vh;
  }
  #picture #author-witcher {
    max-width: 100%;
    height: auto;
  }
  #author-witcher {
    max-width: 100%;
    height: auto;
    border: double white 5px;
    margin-right: 1vw;
  }
  footer a {
    color: white;
    cursor: pointer;
    text-decoration: underline;
  }
}
