html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}
#main-body {
  width: 100vw;
}
#nav-container nav {
  border-left: solid 1px;
  border-color: white;
}
#nav-container button:hover {
  box-shadow: 0px 0px 20px 20px rgb(255, 255, 255);
}

@media screen and (min-width: 540px) {
  body {
    display: flex;
    align-items: stretch;
    background-color: black;
    height: 100vh;
  }
  #header {
    border: solid 1px;
    border-color: black;
    text-align: center;
    color: white;
    background: rgb(0, 0, 0);
    font-size: 2vw;
  }
  #nav-container {
    text-align: center;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: black;
    right: 0%;
    position: fixed;
    width: 10vw;
  }
  #nav-container ul {
    margin: 0;
    padding: 0;
  }
  #nav-container ul li {
    list-style-type: none;
    text-align: left;
    padding-bottom: 0.1vw;
    padding-top: 0.1vw;
  }
  #nav-container ul li:nth-child(5) {
    padding-bottom: 10vh;
  }
  #nav-container button {
    font-size: 1vw;
    border-bottom: solid 1px;
    width: 100%;
    height: 3vw;
    color: white;
    background: black;
    background: linear-gradient(
      90deg,
      rgb(10, 10, 10) 0%,
      rgba(0, 0, 0, 1) 50%,
      rgb(164, 165, 168) 100%
    );
  }
}

@media screen and (max-width: 540px) {
  body {
    display: flex;
    align-items: stretch;
    background-color: black;
    margin-right: 21%;
  }
  #header {
    border: solid 1px;
    border-color: black;
    text-align: center;
    color: white;
    background: rgb(0, 0, 0);
    font-size: 1.5vh;
  }
  #main-body {
    margin-right: 5vw;
  }
  #nav-container {
    text-align: center;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: black;
    right: 0%;
    top: 0%;
    position: fixed;
    width: 20vw;
  }
  #nav-container ul {
    margin: 0;
    padding: 0;
  }
  #nav-container ul li {
    list-style-type: none;
    text-align: left;
    padding-bottom: 0.1vw;
    padding-top: 0.1vw;
  }
  #nav-container ul li:nth-child(5) {
    padding-bottom: 5vh;
  }
  #nav-container button {
    font-size: 2vw;
    border-bottom: solid 1px;
    width: 100%;
    height: 5vh;
    color: white;
    background: black;
    background: linear-gradient(
      90deg,
      rgb(10, 10, 10) 0%,
      rgba(0, 0, 0, 1) 50%,
      rgb(164, 165, 168) 100%
    );
  }
}
